<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create a Product</title>
</head>
<body>
    <h1>Create a Product</h1>
    <label for="name">Name</label>
    <input id="name"  value=""  name="name" placeholder="name"/>
    
    <label for="price">Price</label>
    <input id="price"  value=""  name="price" placeholder="price"/>

    <label for="category">Category</label>
    <select id="category">
        <option value="fruit">fruit</option>
        <option value="vegetable">vegetable</option>
        <option value="dairy">dairy</option>
    </select>

    <a href="/products">Products</a>
</body>
</html>